.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 200px;
    margin-bottom: 200px;
}
.vignette{
    width: 30%;
    height: 400px;
    margin-bottom: 50px;
    filter: grayscale(100%);
}
.vignette img{
    width: 100%;
    height: 300px;
}
.vignette:hover{
    filter: grayscale(0%);
    transition: 0.4s;
    color: #f1d00a;
}
.vignette h2{
    font-size: 30px;
}

@media screen and (max-width: 1024px) {
    .vignette{
        width: 45%;
    }
    
}
@media screen and (max-width: 675px) {
    .vignette{
        width: 70%;
    }
    
}