.aboutme {
  display: flex;
  padding-top: 100px;
}
.left {
  width: 50%;
  padding-top: 50px;
}
.left h1 {
  padding-left: 25%;
  margin: 0;
  font-size: 96px;
  font-family: "Special Elite", cursive;
  z-index: 1;
  position: relative;
}
.right {
  width: 50%;
  padding-top: 5%;
  font-family: "Special Elite", cursive;
  font-size: 24px;
}
.right p {
  margin-left: 10%;
  margin-right: 25%;
}
.right span {
  color: #f1d00a;
}
.right span a {
  color: #f1d00a;
  font-weight: bold;
}
.right img {
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: -10%;
  border-radius: 5%;
}
.aboutRound {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #f1d00a;
  position: absolute;
  top: 300px;
  left: 25%;
  animation: scale 1.5s;
  animation-fill-mode: both;
}
@keyframes scale{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(10);
  }
}
.aboutText {
  width: 80%;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 120px;
}
.aboutText p {
  font-size: 28px;
  font-family: "Special Elite", cursive;
}
.aboutText span {
  color: #f1d00a;
  font-weight: bold;
}
@media screen and (max-width: 1500px) {
  .aboutme {
    display: flex;
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .left h1 {
    padding-left: 12%;
  }
  .right {
    margin-left: 40%;
  }
}
@media screen and (max-width: 1200px) {
  .left h1 {
    padding-left: 12%;
    font-size: 70px;
  }
  @keyframes scale{
    0%{
      transform: scale(0);
    }
    100%{
      transform: scale(7);
    }
  }
  

}
@media screen and (max-width: 1024px) {
  .right {
    width: 100%;
    margin-left: 10%;
  }
  .aboutText p {
    font-size: 20px;
  }
  
}
@media screen and (max-width: 675px) {
  .right {
    width: 90%;
    margin-left: 5%;
    font-size: 18px;
  }
  .left h1 {
    padding-left: 12%;
    font-size: 40px;
  }
  .aboutRound{
    top: 250px;
    left: 20%;
  }
  @keyframes scale{
    0%{
      transform: scale(0);
    }
    100%{
      transform: scale(4);
    }
  }


}

